@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

:root {
  --brand-light: #74ca77;
  --brand: #2f7d4d;
  --brand-dark: #2d6946;
  --accent-light: #e49758;
  --accent: #da671b;
  --accent-dark: #a83816;
  --neutral-light: #c9d6dd;
  --neutral: #9babb4;
  --neutral-dark: #505f68;

}




@layer base {
  body {
    @apply bg-neutral-300 text-neutral-800;
  }

  .dark body {
    @apply bg-neutral-900 text-neutral-100;
  }
}